html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	box-sizing: border-box; 
}

body {
	background-color: #232020;
	font-size: 14px;
	min-width: 720px;
	display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}


.col-1 {
	background: #69c7c4;
	flex: 1;
}

.col-2 {
	display: flex;
	flex-direction: column;
	flex: 5;
}
.content {
	//display: flex;
	flex-direction: row;
}
.content > article {
	flex: 3;
	min-height: 60vh;
}
header {
	background: #1b9a96;
	height: 15vh;
}
header, article, nav {
	padding: 1em;
}





/*   NOW PLAYING BAR   */

#nowPlayingBarContainer {
	width: 100%;
	bottom: 0;
	position: fixed;
	min-width: 620px;
	background-color: #282828;
}

.now-playing-bar-container {
	border-top: 1px solid #000;
}

	.now-playing-bar-container,
	#nowPlayingBar {
		display: flex;
	}

#nowPlayingBar {
	width: 100%;
	height: 90px;
	padding: 16px;
	box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
	width: 30%;
	min-width: 180px;
}

#nowPlayingCenter {
	width: 40%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
